#header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;

}
.box{

    display: flex;
    width: 80%;
    height:70px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;

 }
 .box li{
    display: flex;
    line-height: 60px;
    padding-right: 60px;
    text-align: center;
 }
 .box li a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: rgb(8, 0, 0);
 }
 .box li :hover{
    background-color: rgb(6, 122, 18);
 }
 .search{

    display: flex;
    width: 80%;
    height:70px;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;

 }
 .search li{
    display: flex;
    line-height: 60px;
    padding-right: 60px;
    text-align: center;
 }
 .search li a{
    padding-right: 40px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
 }
 .search li :hover{
    background-color: rgb(1, 5, 1);
 }
