*{
    margin: o;
    padding: 0;
    box-sizing: 0;
}
#header{
    height: 130px;
    background-color: rgb(183, 183, 184);
}
h1{
text-align: center;
}
p{
    text-align: center;
}
#book1{
    text-align: center;
}
.name{
    padding:10px;
}
button{
    width: 50px;
    height: 30px;
    display: flex;
    padding-right: 20px;
    font-size: 1rem;
    color: aliceblue;
    border: 1px solid rgb(7, 7, 7);
    background-color: blueviolet;
    flex-direction: row;
   
}